/* *{
    margin: 0;
    padding: 0;
} */

body {
    background: #8C8C8C;
    background-attachment: fixed;
    font: normal 15pt Arial;
}

header {
    color: #404040;
    text-align: center;
    padding: 20px 0; /* Espaçamento superior e inferior para o cabeçalho */
}

.paragrafo__um {
    font: normal 13pt Arial;
    text-align: center;
    margin: 1.5em;
}

section {
    background: linear-gradient(#D9D9D9, #8C8C8C);
    color: #262626;
    border-radius: 10px;
    padding: 15px;
    max-width: 500px; /* Largura máxima do conteúdo */
    /* width: 500px; */
    margin: auto;
    box-shadow: 5px 5px 10px #404040;
}

div{
    text-align: center;
    margin: 1em;
}

select#flista {
    width: 150px;
}

footer {
    margin: 10px;
    color: #404040;
    text-align: center;
    font-style: italic;
    padding: 10px 0; /* Espaçamento superior e inferior para o rodapé */
}

/* Media Query para telas menores */
@media (max-width: 768px) {
    section {
        padding: 10px;
        width: 90%; /* Reduz a largura para ocupar 90% da tela */
    }
}
